.display-page {
  padding: 30px;
  position: relative;
  height: 100vh;
}

.display-page__logo {
  height: fit-content;
  width: fit-content;
}

.display-page__content {
  display: flex;
  height: 95%;
}

.display-page__feed {
  width: 65%;
}

.display-page__right {
  width: 35%;
  position: absolute;
  right: 0px;
  top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
}

.display-page__timer {
  font-size: 7rem;
  font-family: "Anton";
}
.display-page__timeline {
  font-size: 2rem;
  font-family: "Anton";
  padding: 1rem;
}

.display-page__feed {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  position: relative;
}

.scrollUp,
.scrollDown {
  overflow: hidden;
  height: 100%;
  position: relative;
  width: 100%;
}

.carousel-track__up,
.carousel-track__down {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  animation: slide 100s linear infinite;
}

.carousel-track__up {
  animation-direction: reverse;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

#wallsio-iframe::-webkit-scrollbar {
  display: none;
}

.timerType {
  text-align: center;
  font-size: 2rem;
}
