@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("./Navbar.css");
@import url("./HeroSection.css");
@import url("./AboutUs.css");



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* color: white; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white;

}

main {
  margin: 0px 20px;
}

/* scrollbar styling */
::-webkit-scrollbar:horizontal {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#572fde, #9435d9);
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: padding-box;
  width: 5px;
}
::-webkit-scrollbar-thumb:hover {
  border: 0;
  background: linear-gradient(#9435d9, #572fde);
}

@media screen and (max-width: 900px) {
  main {
    margin: 0px 0px;
  }
}
