.hero-section {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero-section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.4;
  transform: scaleY(-1);
  object-fit: cover;
}

.hero-section > div {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-top: 170px;
  height: 100%;
  position: relative;
}

.hero-section__content {
  font-family: "Anton";
  font-size: 7rem;
  line-height: 1;
  letter-spacing: 0.01em;
  padding-left: 40px;
  z-index: 1;
}

.hero-section__content h1 {
  font-weight: 400;
}

.hero-section__content > div:nth-child(2) {
  display: flex;
  gap: 1rem;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1.5px white;
}

.Date-Venue {
  color: white;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.Date-Venue > h6:nth-child(1) {
  font-weight: 400;
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
}

.Date-Venue > h6:nth-child(2) {
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.Date-Venue > h6:nth-child(2):hover {
  text-decoration: underline;
}

.hero-section__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 40px;
  margin-top: 20px;
}

.hero-section__buttons button {
  /* padding: 10px 20px; */
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  width: 11.60194rem;
  height: 4rem;
  flex-shrink: 0;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section__buttons button a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.hero-section__buttons button:nth-child(1) {
  background-color: #592ee1;
}

.hero-section__buttons button:nth-child(1):hover {
  background: #4c2bd9;
}

.hero-section__buttons button:nth-child(2) {
  border: 1px solid #a3a3a3;
  background-color: #0e1723;
}

.hero-section__buttons button:nth-child(2)::before,
.hero-section__buttons button:nth-child(2)::after {
  content: "";
  position: absolute;
  background-color: #0e1723b0;
  z-index: 0;
}

.hero-section__buttons button:nth-child(2)::before {
  width: calc(100% + 2px * 2 - 30px);
  height: calc(100% + 1px * 2);
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-section__buttons button:nth-child(2)::after {
  height: calc(100% + 2px * 2 - 30px);
  width: calc(100% + 1px * 2);
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.hero-section__buttons button:nth-child(2) a {
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.hero-section__image {
  position: absolute;
  right: 0;
  top: -67%;
  width: fit-content;
  height: 115%;
}

@media screen and (max-width: 900px) {
  .hero-section__content {
    font-size: 6.5rem;
    padding-left: 20px;
  }
  .hero-section__buttons {
    align-items: center;
  }

  .hero-section__buttons button {
    width: 9.60194rem;
    height: 3.02519rem;
    font-size: 1rem;
  }

  .Date-Venue > h6:nth-child(1) {
    font-size: 1.8rem;
  }

  .Date-Venue > h6:nth-child(2) {
    font-size: 1.1rem;
  }

  .hero-section__image {
    height: 58%;
    top: -36%;
  }
}

@media screen and (max-width: 700px) {
  .hero-section__content {
    font-size: 5.5rem;
  }

  .Date-Venue > h6:nth-child(1) {
    font-size: 1.5rem;
  }

  .Date-Venue > h6:nth-child(2) {
    font-size: 1rem;
  }

  .Date-Venue > h6:nth-child(1) {
    font-size: 1.5rem;
  }

  .Date-Venue > h6:nth-child(2) {
    font-size: 1rem;
  }

  .hero-section__image {
    height: 72%;
    top: -43%;
  }
}

@media screen and (max-width: 550px) {
  .hero-section {
    align-items: center;
    padding-top: 0px;
  }

  .hero-section__content {
    font-size: 4.5rem;
  }

  .Date-Venue > h6:nth-child(1) {
    font-size: 1.2rem;
  }

  .Date-Venue > h6:nth-child(2) {
    font-size: 0.9rem;
  }

  .hero-section__image {
    width: auto;
    height: 65%;
    top: -39%;
  }
}

@media screen and (max-width: 450px) {
  .hero-section__content {
    font-size: 3.5rem;
  }

  .Date-Venue > h6:nth-child(1) {
    font-size: 1rem;
  }

  .Date-Venue > h6:nth-child(2) {
    font-size: 0.8rem;
  }

  .hero-section__image {
    height: 50%;
    top: -30%;
  }
}

@media screen and (max-height: 600px) {
  .hero-section__image {
    display: none;
  }

  .hero-section__content {
    font-size: 5rem;
  }
}

@media screen and (min-height: 800px) and (max-width: 450px) {
  .hero-section__content {
    margin-top: 100px;
  }
}

@media screen and (min-height: 550px) and (min-width: 500px) {
  .hero-section__image {
    display: block;
  }
}
