nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 17rem 0px;
  padding-left: 50px;
  position: fixed;
  width: 100%;
  z-index: 10;
  left: 0;
}

.nav--scrolled {
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  transition: all 1s;
  top: 10px;
  padding-top: 0px;
}

.nav__links {
  display: flex;
  gap: 43px;
  text-transform: uppercase;
  font-size: 0.9375rem;
  font-weight: 400;
  list-style: none;
}

.nav__links a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
}
.mlh-flag {
  display: block;
  max-width: 100px;
  min-width: 55px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  /* z-index: 10000; */
}
.mlh-flag image {
  max-width: 100px;
  width: 100%;
  height: auto;
}
.nav__toggle {
  display: none;
}
@media screen and (max-width: 900px) {
  nav {
    padding-left: 20px;
  }
  .nav--scrolled {
    background: transparent;
  }
  .nav__links {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0.5rem);
    position: fixed;
    inset: 0 0 0 30%;
    text-align: center;
    padding: min(10vh, 10rem);
    transition: all 500ms;
    transform: translateX(100%);
  }
  .nav__links.nav__links--open {
    transform: translateX(0%);
  }

  .nav__toggle {
    display: block;
    background: none;
    border: 0cap;
    position: absolute;
    z-index: 9999;
    width: 2rem;
    top: 2rem;
    right: 1rem;
  }
  .mlh-flag {
    top: -30px;
    right: 60px;
  }
  .mlh-flag img {
    max-width: 60px; /* Smaller size for mobile */
  }
}
