nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 17rem 0px;
  padding-left: 50px;
  position: fixed;
  width: 100%;
  z-index: 10;
  left: 0;
}

.nav--scrolled {
  align-items: center;
  padding-top: 0px;
  height: 70px;
}

.nav__links {
  display: flex;
  gap: 43px;
  text-transform: uppercase;
  font-size: 0.9375rem;
  font-weight: 400;
  list-style: none;
  margin-right: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav__links--scrolled {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  padding: 7px 40px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.8));
  transition: all 1s;
  top: 30px;
  padding-right: 7px;
}

.sponsor-us {
  background: #592ee1;
  border-radius: 50px;
  padding: 12px 20px;
  cursor: pointer;
}

.sponsor-us a {
  color: white;
  font-weight: 500;
  font-size: 0.9375rem;
  text-decoration: none;
}

.sponsor-us:hover {
  background: #4c26b8;
}

.nav__links li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__links a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  width: max-content;
}
#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 55px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  /* z-index: 10000; */
}
#mlh-trust-badge image {
  max-width: 100px;
  width: 100%;
  height: auto;
}
.nav__toggle {
  display: none;
}
@media screen and (max-width: 900px) {
  nav {
    padding-left: 20px;
  }

  .nav__links {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0.5rem);
    position: fixed;
    inset: 0 0 0 30%;
    text-align: center;
    padding: min(10vh, 10rem);
    transition: all 500ms;
    transform: translateX(100%);
    height: 100vh;
    z-index: 1;
    margin-right: 0px;
  }

  .nav__links--scrolled {
    border-radius: 0;
    filter: none;
  }

  .nav__links.nav__links--open {
    transform: translateX(0%);
  }

  .nav__toggle {
    display: block;
    background: none;
    border: 0cap;
    position: absolute;
    z-index: 9999;
    width: 2rem;
    right: 1rem;
  }
  #mlh-trust-badge {
    top: -30px;
    right: 60px;
  }
  #mlh-trust-badge img {
    max-width: 60px;
  }
}

@media screen and (max-width: 600px) {
  #logo {
    width: 120px;
    height: 50px;
  }

  #hamburger {
    width: 30px;
    height: 30px;
  }

  .sponsor-us {
    padding: 12px 10px;
  }
}
