.organizers {
  height: auto;
  width: 100vw;
  margin-bottom: 10vw;
  position: relative;
}
.people {
  padding-block: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.organizers-section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.23;
}
@media (max-width: 900px) {
  .people {
    padding-bottom: 20vw;
    flex-direction: column;
    align-items: center;
  }
  .organizers {
    margin-bottom: 25vw;
  }
}
