canvas {
  display: block;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 1;
  top: 0;
  position: absolute;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
  top: 0;
}

#particles-js::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
  background: radial-gradient(
    50% 100% at 100% 100%,
    rgba(233, 114, 16, 0.363) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}
