.schedule-section {
  height: 600vh;
  position: relative;
}

.horizontal-scroll {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
}

.Day {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Anton";
  color: rgb(255, 255, 255);
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.schedule {
  width: fit-content;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.horizontal-scroll > hr {
  width: 100%;
  border-top: 3px dashed white;
  border-bottom: none;
  position: absolute;
}

.schedule-rocket {
  position: absolute;
}

.schedule-rocket > img {
  transform: rotate(90deg);
  width: 100%;
  height: 100%;
}

.card {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.card-content {
  display: flex;
  gap: 1rem;
  height: 100px;
  font-family: "Anton";
  justify-content: center;
  align-items: center;
}

.card-content > div:nth-child(1) {
  padding: 0.5rem;
  border: 3px dashed greenyellow;
  border-radius: 100%;
  animation: rotate 10s infinite;
  background-color: rgba(0, 128, 0, 0.3);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-content > div:nth-child(1) > span {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: greenyellow;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.6);
  }
}

.card-content > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  height: 100%;
}

.time {
  display: flex;
  align-items: center;
}

.time > p:nth-child(1) {
  font-size: 2rem;
}

.time > p:nth-child(2) {
  transform: rotate(-90deg);
  font-size: 1.5rem;
}

.card-content > div > p {
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  .Day {
    font-size: 1.5rem;
    bottom: 50px;
  }

  .schedule-rocket {
    width: 150px;
    height: 150px;
  }

  .card {
    width: 200px;
  }

  .card-content > div:nth-child(1) {
    border: 2px dashed greenyellow;
  }

  .card-content > div:nth-child(1) > span {
    width: 15px;
    height: 15px;
  }

  .card-content > div:nth-child(2) {
    height: 50px;
  }

  .card-content > div:nth-child(2) > p {
    font-size: 0.8rem;
  }

  .time > p:nth-child(1) {
    font-size: 1.5rem;
  }

  .time > p:nth-child(2) {
    font-size: 1rem;
  }
}
