.team {
    text-align: center;
    padding: 50px 0;
    background: url('/path-to-background-image.jpg') no-repeat center center fixed; /* Assuming you have a background image */
    background-size: cover;
    color: #fff;
  }
  
  .team h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    letter-spacing: 5px;
  }
  
  .team-member {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
    /* height: 300px; */
  }
  
  .team-member-image {
    margin-bottom:70px;
    overflow: hidden;
    height: 200px;
  }
  
  .bw-image img {
    width: 45%; /* Ensure the image takes full width of the container */
    filter: grayscale(100%);
    /* transition: filter 0.3s ease; */
  }
  
  
  
  .team-member-details {
    text-align: left;
    max-width: 400px;
    margin-left: -150px;
  }
  
  .team-member-details h3 {
    font-size: 1.8rem;
    margin: 0;
    color: #fff;
  }
  
  .team-member-details p  {
    margin: 5px 0;
    /* color: #b0b0b0; */
  }
  
  .team-member-details .role {
     /* Purple color for role */
    font-weight: bold;
  }

  .team-member-details .role2 {
    color: #8e44ad; /* Purple color for role */
    font-weight: bold;
  }


  
  .team-member-socials a {
    margin-right: 15px;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .team-member-socials a:hover {
    color: #8e44ad; /* Purple color on hover */
  }
  
  .bw-image img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .bw-image img:hover {
    filter: grayscale(0%);
  }
  