.Track-section {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 30vw;
}

.Track-section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.23;
}

.Track-section__background2 {
  position: absolute;
  bottom: -130%;
  right: 0;
  width: fit-content;
  height: 160%;
  z-index: 1;
  opacity: 0.9;
}
.spaceship {
  position: absolute;
  left: 30%;
  top: 125%;
  rotate: -20deg;
}

.heading {
  text-align: center;
  position: relative;
  height: 20.798vw;
}
.heading-shadow {
  font-family: "Anton";
  width: 100%;
  color: rgba(255, 255, 255, 0.16);

  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 20vw;
  line-height: 20.798vw;
}
.heading-small {
  width: 100%;
  top: 11.806vw;
  font-size: 5.556vw;
  font-weight: 400;
  font-family: "Anton";
  position: absolute;
  line-height: 5.546vw;
  display: flex;
  justify-content: center;
}

.tracks-box h3,
img {
  z-index: 1;
}

.tracks-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #a3a3a3;
  background-color: #0e1723;
  position: relative;
}
.tracks-box::before,
.tracks-box::after {
  content: "";
  position: absolute;
  background-color: #0e1723b0;
  pointer-events: none;
}
.tracks-box::before {
  width: calc(100% + 2px * 2 - 50px);
  height: calc(100% + 1px * 2);
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
}
.tracks-box::after {
  height: calc(100% + 2px * 2 - 50px);
  width: calc(100% + 1px * 2);
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.tracks-container {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: 500;
  /* background-color: aliceblue; */
  gap: 2%;
  width: 100%;
}
.box-bundle {
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  width: 33vw;
  height: 20vw;
  gap: 5%;
}
.box-bundle:nth-child(3) {
  width: 13vw;
}

.horizontal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 65%;
  gap: 10%;
  overflow: hidden;
}

.vertical-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  z-index: 4;
  opacity: 80%;
}
.horizontal-box {
  height: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 80%;
}

.icon {
  padding-left: 5%;
  width: 30%;
  display: block;
}

.text {
  padding: auto;
  font-size: 1.319vw;

  width: 60%;
}
.horizontal-box .text {
  margin-right: 5%;
}

.vertical-box .text {
  /* background-color: blue; */
  width: 90%;
  height: 30%;
}
.vertical-box img {
  width: 70%;
  height: 70%;
  /* background-color: red; */
}
.tracks-para {
  padding-top: 2%;
}
.tracks-para p {
  width: 82%;
  font-family: "roboto";
  font-size: 1.3vw;
  line-height: 1.911vw;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
  padding-bottom: 2%;
}

.tracks-para p > span {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin-right: 4px;
}
.tracks-para p > .word,
.tracks-para p > .word {
  position: relative;
  margin-right: 12px;
}
@media screen and (max-width: 900px) {
  .tracks-box::before {
    width: calc(100% + 2px * 2 - 30px);
  }
  .tracks-box::after {
    height: calc(100% + 2px * 2 - 30px);
  }
}
@media screen and (max-width: 650px) {
  .spaceship {
    left: 20%;
    top: 110%;
  }
}
@media screen and (max-width: 500px) {
  .spaceship {
    position: absolute;
    left: 10%;
    top: 110%;
    rotate: -20deg;
    height: 15%;
    width: 15%;
  }
  .Track-section__background2 {
    bottom: -71%;
    height: 90%;
  }

  .tracks-container {
    flex-direction: column;
    gap: 3vw;
  }
  .box-bundle {
    height: 35vw;
    width: 77vw;
  }
  .box-bundle:nth-child(3) {
    width: 77vw;
    height: 20vw;
  }
  .box-bundle:nth-child(3) .vertical-box {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding-right: 15%; */
  }
  .box-bundle:nth-child(3) .vertical-box .text {
    text-align: start;
    font-size: 2.5vw;
  }
  .text {
    font-size: 2vw;
    /* font-weight: 400; */
  }

  .tracks-para p {
    /* font-size: ; */
    font-size: 2vw;
    line-height: 3vw;
    width: 77%;
  }
  .tracks-para p > .word,
  .tracks-para p > .word {
    margin-right: 6px;
  }
}
